/* hide the content initially */
.MainContent {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    flex: 0;
    align-items: center;
}
/* new transition */
.MainContent.show {
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 1;
    margin-top: 200px;
    align-items: center;
}
.ContentText {
    transition: opacity 1s ease;
}