/* hide the content initially */
.MainContent {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
    flex: 0;
    align-items: center;
}
/* transition to show the home screen */
.MainContent.show {
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 1;
    margin-top: 0px;
    align-items: center;
    background: linear-gradient(to bottom, #00549067, rgb(0, 0, 0));
}
/* no margin for content text */
.ContentTextContainer {
    margin: 0px;
}
/* make all content within the website have a standardized font, weight, etc */
.ContentText {
    font-weight: 500;
    font-size: 25px;
    transition: opacity 1s ease;
    margin-top: 50px;
    text-align: center;
}
/* three thumbnails in a row */
.PageDisplayContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 65px;
}
/* design the thumbnails */
.WorkExperienceThumbnailContainer, 
.SkillsThumbnailContainer, 
.ProjectsThumbnailContainer{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 10px 10px 0px 10px;
    width: 360px;
    height: 220px;
    border-color: white;
    border-width: 10px;
    border: solid;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    box-shadow: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
}
/* animate thumbnails when hovering */
.WorkExperienceThumbnailContainer:hover, 
.SkillsThumbnailContainer:hover, 
.ProjectsThumbnailContainer:hover{
    transform: translateY(-7px);
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.555);
    cursor: pointer;
}
.WorkExperienceThumbnailContainer:active,
.SkillsThumbnailContainer:active,
.ProjectsThumbnailContainer:active {
    transform: translateY(7px);
    box-shadow: none;
    transition: transform 0.05s ease, box-shadow 0s ease;
}
/* title for the thumbnails */
#WorkExperienceText, #SkillsText, #ProjectText {
    margin-top: 0px;
    border-bottom: solid;
    border-bottom-width: 3px;
    border-color: white;
}
/* images for the thumbnails */
.ImageContainer {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
/* size of images */
.CompanyLogo {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin: 0px 5px 0px 5px;
}
/* hide the content when switching to another page */
.MainContent.hide {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-out;
}
/* click to see more text */
#ManyMore {
    margin-top: 0px;
    font-size: 18px;
}