/* inital screen that the user will see */
.Overlay {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    align-items: center;
    margin-top: 80px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    position: static;
    z-index: 10;
}
.OverlayText {
    align-items: center;
    font-weight: 500;
    font-size: 26px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    white-space: nowrap;
    text-wrap: wrap;
}
#MoonButton {
    margin-top: 40px;
    background-image: url(../images/MoonImage.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: white;
    transition: box-shadow ease 0.3s, margin-top ease 0.1s;
    box-shadow: none;
}
#MoonButton:hover {
    box-shadow: 0px 8px 6px rgb(0, 0, 0), 0px 12px 10px rgb(255, 255, 255);
    margin-top: 36px;
}
#MoonButton:active {
    margin-top: 52px;
    box-shadow: 0px 0px 6px rgb(0, 0, 0), 0px 0px 10px rgb(255, 255, 255);
    transition: margin-top ease 0s;
}
.Overlay.hide {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}