.ProjectsContent {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
    flex: 0;
    align-items: center;
}
.ProjectsContent.hide {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-out;
}
.ProjectsContent.show{
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 1;
    margin-top: 0px;
    align-items: center;
    background: linear-gradient(to bottom, #00549067, rgb(0, 0, 0));
}
#MacAI {
    margin-left: 250px;
}
#GDSC {
    margin-top: 50px;
    margin-right: 250px;
}
@media (max-width: 720px){
    #MacAI, #GDSC {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        scale: 0.7;
    }
}